body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #412e06;
}

.chessboard {
	display: grid;
	grid-template-columns: repeat(8, 80px);
	grid-template-rows: repeat(8, 80px);
	gap: 0;
}

.square{
	width: 80px;
	height: 80px;
}

.coordinate-light {
	background-color: #779952;
}
.coordinate-dark {
	background-color: #edeed1;
}
.highlight {
	background-color: rgba(255,255,51, 0.5)
}
.hint {
	background-color: rgb(112, 112, 111, 0.5)
}

.wk{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png');}
.wq{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png');}
.wr{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png');}
.wb{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png');}
.wn{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png');}
.wp{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png');}
.bk{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png');}
.bq{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png');}
.br{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png');}
.bb{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png');}
.bn{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png');}
.bp{content: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png');}